body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

#selector {
    justify-content: left;
    align-items: left;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: gold;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
}   

#selector select {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 190px;
    height: 80px;
    text-wrap: wrap;
}

#selectedDiv {
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    height: 80px;
    text-wrap: wrap;
}

#_userInfoForm {
    justify-content:center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: gold;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
}

#_userInfoForm input {
    width: 150px;
    padding: 5px;
}

#_userInfoForm div {
    padding: 8px;
}


